@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.wish {
	height: 2px;
	top: 300px;
	width: 100px;
	margin: 0;
	opacity: 0;
	padding: 0;
	background-color: white;
	position: absolute;
	background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
	filter: drop-shadow(0 0 6px white);
	overflow: hidden;
}

#shootingStars {
	transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%))
		rotate(120deg);
}

.gradient-background {
	background: linear-gradient(
		120deg,
		#000000,
		#000000,
		#070038,
		#070038,
		#000000
	);
	background-size: 300% 300%;
	animation: gradient-animation 25s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
